{
  "DB_HOST": "localhost",
  "DB_SCHEMA": "l_DeploymentTracker",
  "DB_USERNAME": "l_DeploymentTracker",
  "DB_PASSWORD": "l_DeploymentTracker",

  "AUTH_USERNAME": "npmadmin",

  // NOTE: this is "password" (also remove this comment)
  "AUTH_PASSWORD": "$2y$10$H8m/O.vnr6rHbO2FMyny7OBq5QxDg3yYyvAHkTeUPd.b9XktnwfUS"
}